//PEN HEADER
header.header
  h1.header__title Text Slider Inspiration (vol.1)
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/text-slider-inspiration",
      title="Check on Github",
      target="_blank"
    ) Check on Github

//PEN CONTENT     
.content
  .container
    .customize
      .customize__item
        label(for="animation-type") Pick animation type:
        select#animation-type.form-select
          option(value="opacity", selected) Opacity
          option(value="vertical") Vertical Sliding
          option(value="right") To Right Sliding
      .customize__item
        label(for="slide-duration") Pick slide duration:
        select#slide-duration.form-select
          option(value=1200) 1200
          option(value=1500, selected) 1500
          option(value=1800) 1800
          option(value=2100) 2100
      .customize__item
        label(for="animation-duration") Pick in/out animation duration:
        select#animation-duration.form-select
          option(value=100) 100ms
          option(value=200, selected) 200ms
          option(value=300) 300ms
          option(value=400) 400ms

    .text-slider
      p I fond of&nbsp;
        span.text-slider__options(data-options="HTML, CSS, JavaScript, a11y")
