//PEN HEADER
header.header
  h1.header__title Text Slider Inspiration
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/text-slider-inspiration",
      title="Check on Github",
      target="_blank"
    ) Check on Github

//PEN CONTENT     
.content
  .container
    .text-slider
      p I fond of&nbsp;
        span.text-slider__options(data-options="HTML, CSS, JavaScript") HTML
